/* Fortune Cookie Generator Styles */

html {
    text-align: center;
    padding: 2em;
    font-family: sans-serif;
}

blink {
    display: inline;
    color: inherit;
    animation: blink 1s steps(1) infinite;
    -webkit-animation: blink 1s steps(1) infinite;
}
@keyframes blink { 50% { color: transparent; } }
@-webkit-keyframes blink { 50% { color: transparent; } }

.fortune-cookie-saying-wrapper {
    color: orange;
    border: 1px solid #666;
    padding: 1em;
    margin: 1em;
}